<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sam's - Pesquisa de Satisfação</title>
    <link href="{% static 'assets/css/tailwind.min.css' %}" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
<p>{{campanha.campanha_fundo.url}}</p>
  <body class="bg-gray-200 flex flex-col items-center justify-center min-h-screen p-6 space-y-8" style="background-color: #79a5fb; background-image: url('{{ campanha.campanha_fundo.url }}') ; background-size: cover; background-position: center center; width: 100%;">
    <div class="bg-white shadow-lg rounded-lg max-w-4xl w-full mx-4 mb-4">
      <!-- Conteúdo principal aqui -->
      <div class="text-center py-8">
        <!-- Logo -->
        <img src="{% static 'assets/img/sams.png' %}" class="mx-auto" alt="Logo" style="width: 100%;" />
      </div>
      <div class="flex flex-wrap justify-between px-8">
        <!-- Texto e Botão -->
        <div class="md:flex-1">
          <img src="{% static 'assets/img/obrigado_full.png' %}" class="w-full md:w-auto md:object-contain" alt="Obrigado" />
        </div>
      </div>
    </div>

    <!-- Rodapé -->
    <footer class="bg-white shadow-lg rounded-lg w-full max-w-4xl p-8 text-center">
      Todos os Direitos Reservados Sam's Club Brasil 2024 | {{ campanha.campanha_fundo }} Desenvolvimento <a href="http://www.tahto.com.br" target="_blank" class="underline" rel="noopener noreferrer">Tahto</a>
    </footer>
  </body>
</html>
